// Place all the styles related to the bases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label-base-edit {
  margin-top: 5px;
}

.btn-edit {
  margin: 15px 0;
  width: 30%;
}

.base_add_frame {
  background-color: #F2F2F2;
  padding: 20px;
}

.base_add_frame a {
  color: #fff;
  text-decoration: none;
}